:root {
    --feature-color: #fcb72a;
    --button-primary: #ed6075;
    --button-content: #c41e32;
    --button-grey: #a1a1a1;
    --border-content: rgba(146, 146, 146, 0.2);
    --text-grey: rgba(0, 0, 0, 0.4);
    --black: black;
    --white: white;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    padding-bottom: 70px;
}

select {
    background-color: var(--white);
}

textarea {
    max-height: 200px;
    font-size: 10pt;
    line-height: 1.2;
}

textarea:focus {
    box-shadow: 0 0 0 1px var(--button-primary);
    outline: none;
}

button:focus {
    outline: none;
}

.bb-grey {
    border-bottom: 1px solid #dadada;
}

.hide-content {
    display: none !important;
}

.readmore {
    text-align: right;
    color: var(--text-grey) !important;
    font-size: 10pt !important;
    font-weight: 200 !important;
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.btn-normal {
    background-color: transparent;
    border: 1px solid var(--border-content);
    color: var(--black);
}

.primary-btn {
    border: 1px solid var(--button-primary);
    color: var(--white);
    background-color: var(--button-primary);
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10pt;
}

.secondary-btn {
    border: 1px solid var(--button-primary);
    color: var(--button-primary);
    background-color: var(--white);
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10pt;
}

.btn-block{
    width: 80%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.btn1 {
    
    color: white;
    background-color:#6495ED;
    padding: 2px 5px;
    border-radius: 20px;
   
}

.btn2 {
    
    color: white;
    background-color:#E9967A;
    padding: 2px 5px;
    border-radius: 20px;
    
}

.btn3 {
    
    color: white;
    background-color:#90EE90;
    padding: 2px 5px;
    border-radius: 20px;
    
}

.btn4 {
    
    color: white;
    background-color:#FF6347;
    padding: 2px 5px;
    border-radius: 20px;
    
}

.btn5 {
    
    color: white;
    background-color:#9370DB;
    padding: 2px 5px;
    border-radius: 20px;
    
}

.btn6 {
    
    color: white;
    background-color:#FFA500;
    padding: 2px 5px;
    border-radius: 20px;
    
}

.small-icon {
    font-size: 12pt !important;
    margin-left: 0;
    padding-left: 0;
}

.btn-normal:focus {
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-toggle.arrow-left::after {
    display: none;
}

.dropdown-toggle.arrow-left::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.row, 
.col {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 0px 10px;
    border-radius: 20px;
}

.btn-grey {
    border: 1px solid var(--button-grey);
    color: var(--text-grey);
    background-color: var(--white);
    font-weight: 600;
}

.btn-grey:focus {
    outline: none;
    border: 1px solid var(--button-primary);
    background-color: var(--button-primary);
    color: var(--white);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.swiper-container {
    width: 100%;
    max-width: 800px;
    height: auto;
    position: relative;
    box-shadow: 0px 1px 1px 1px rgb(161, 161, 161);
}

.swiper-container>.swiper-wrapper>.swiper-slide>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}

.swiper-pagination-bullet-active {
    background: var(--feature-color);
}

.arrow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

.arrow > div > img {
    width: 12%;
    height: auto;
}

.arrow > div > img:focus {
    outline: none;
}

input:focus,
select:focus {
    outline: none;
}

/* -------------------- */

#filter {
    padding-top: 18px;
    margin-bottom: 20px;
}

.areaKiriman {
    border: 1px solid var(--border-content);
    color: var(--black);
    font-size: 15px;
    padding: 0 10px;
    border-radius: 20px;
}

.searchBar {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border: 1px solid var(--border-content);
    border-radius: 20px;
    width: 40%;
}

.searchBar input {
    width: 100%;
    border: none;
    font-size: 10pt;
    float: left;
    color: var(--black);
    -webkit-border-radius: 20px 0 0px 20px;
    -moz-border-radius: 20px 0 0px 20px;
    border-radius: 20px 0 0px 20px;
}

.searchBar .icon {
    color: var(--text-grey);
    padding-left: 5px;
    cursor: pointer;
}

.searchBar .icon img {
    height: 10pt;
}

.searchBar input::-webkit-input-placeholder {
    color: var(--text-grey);
}

.searchBar input:-moz-placeholder {
    /* Firefox 18- */
    color: var(--text-grey);
}

.searchBar input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--text-grey);
}

.searchBar input:-ms-input-placeholder {
    color: var(--text-grey);
}

.text-grey {
    color: var(--text-grey);
}

#formPost {
    margin-bottom: 15px;
}

.post-element {
    padding: 10px;
}

.post-text {
    width: 100%;
}

.post-text > textarea {
    width: 100%;
}

#formPost > form > div {
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid var(--border-content);
    border-radius: 5px 5px 0 0;
}

#formPost > form > div:last-child {
    border-radius: 0 0 5px 5px;
    font-size: .8em;
}

#formPost > div:last-child select, 
#formPost > div:last-child button {
    cursor: pointer;
} 

.profile-picture-sm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.profile-picture-xs {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.post-text {
    padding-left: 10px;
}

.post-text > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9em;
    margin-top: -5px;
}

.post-textarea {
    border: 1px solid var(--border-content);
    color: black;
    width: 100%;
    font-size: 10pt;
    border-radius: 5px;
    overflow: auto;
}

.select-post-privacy {
    border: none;
    margin-right: 5px;
}

.add-photo {
    background: transparent;
    border: none;
}

.add-photo i {
    font-size: 14pt;
}

.add-photo:focus {  
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #a1a1a1;
}

/* POST */
.post-container {
    margin: 5px 0;
}

.post-container > div {
    padding: 10px;
    border: 1px solid var(--border-content);
}

.post-content {
    margin: 10px 0;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.short-profile > div {
    padding-left: 10px;
}

.short-profile > div > p {
    margin: 0;
    padding: 0;
}

.short-profile > div > p:first-child {
    font-weight: bold;
    line-height: 1;
    font-size: 12pt;
}

.short-profile > div > p:nth-child(2) {
    font-weight: 200;
    font-size: 10pt;
    color: var(--text-grey);
}

.post-content > div:last-child {
    font-weight: 600;
    line-height: 1.3;
    font-size: 10pt;
}

.post-content > div:last-child > p {
    padding-top: 5px;
    margin-bottom: 10px;
}

.attribute > div {
    font-size: 9pt;
    font-weight: 200;
    margin-right: 10px;
    cursor: pointer;
}

.attribute > div > div {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

span.status {
    font-weight: 200;
    font-size: 9pt;
}

span.status::before {
    content: ' . ';
}

.profpic {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.bookmark {
    height: 22px;
    width: 22px;
    background-image: url(../images/bookmark_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bookmark.bookmarked {
    background-image: url(../images/bookmark_2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.likeBtn {
    background-image: url(../images/like_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.likeBtn.liked {
    background-image: url(../images/like_2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.commentBtn {
    background-image: url(../images/comment.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.shareBtn {
    background-image: url(../images/share.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.post-media {
    background-color: #a1a1a1;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.comment-section {
    border-top: none;
    display: block;
}

.comment-item > div > div > p.comment {
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10pt;
}

.create-comment {
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.create-comment > div > input[type=submit] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-comment-text {
    width: calc(100% - 40px - 60px - 10px);
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--border-content);
    padding: 5px 5px;
    min-height: 36px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px -1px 1px 1px rgb(190, 190, 190);
}

nav > * {
    height: 100%;
    width: 100%;
    font-size: 20pt;
    color: rgb(116, 116, 116);
}

nav > *:focus,
nav > *:active {
    text-decoration: none;
    border-top: 2px solid var(--feature-color);
    padding-bottom: 2px;
    color: var(--feature-color);
}

#profileHeader {
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
}


#profileHeader > div > img {
    height: 20px;
}

#profileHeader > form.searchBar {
    width: 100%;
    margin: 0 10px;
}

#profile {
    margin-bottom: 18px;
}

#profile > div {
    border: 1px solid var(--border-content);
    border-radius: 5px;
    padding: 15px 20px;
}

#profile p {
    margin: 0;
    font-size: 11pt;
    line-height: 1.5;
    font-weight: 600;

}

#profile > div > div:nth-child(2) {
    margin-top: 10px;
}

.profile-descriptions {
    padding-top: 3px;
    padding-left: 14px;
}

.profile-descriptions > .nama {
    font-weight: bold !important;
    font-size: 13pt !important;
}

.profile-picture {
    width: 70px;
    height: 70px;
}

.profile-picture > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* **************** */
/* DETAILED CONTENT */
/* **************** */

#content-category {
    padding: 10px 20px;
}

#content-category > span{
    padding: 0px 10px;
    border-radius: 20px;
    color: white;
}

.bc-pengasuhan {
    background-color: #fcb72a;
}

.bc-bayi {
    background-color: #68dbed;
}

.bc-balita {
    background-color: #fa8ec8;
}

.bc-anak {
    background-color: #7fd16f;
}

.bc-remaja {
    background-color: #dc4e41;
}

.bc-kehamilan {
    background-color: #d28adb;
}

#content-header {
    padding: 5px 20px;
}

#content-header > p {
    line-height: 1.2;
    font-size: 1.1em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #eb7600;
    font-weight: 600;
}

.verified::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../images/verified-icon.png");
    background-size: cover;
    background-position: bottom;
    margin-left: 3px;
}

.post-info {
    padding: 5px 0;
}

.post-info > div > .profile-descriptions {
    padding-left: 8px;
}

.post-info p {
    font-size: .8em !important;
    margin-bottom: 0px;
}

.post-info > div > .profile-descriptions > p {
    font-size: .8em !important;
    margin-bottom: 0;
    line-height: 1.3;
}

.content-main {
    padding: 16px;
}

.content-img > img {
    width: 100%;
}

.content-share {
    margin: 10px 0 10px 0;
    height: 20px;
}

.content-share-img {
    border-right: 1px solid #a1a1a1;
    margin: 0 4px;
}

.content-share-img > img {
    height: 18px;
    width: auto;
    margin-right: 10px;
}

.content-share-info > img {
    height: 13px;
    margin: 0 5px;
}

.share-sum {
    font-size: .8em;
}

.content-description {
    font-size: .8em;
    text-align: justify;
}

.content-description > p {
    margin-bottom: 10px;
}

.content-description > h5 {
    font-size: 1rem;
    font-weight: bold;
}

.content-description > .quotes, 
.quotes {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #a1a1a1;
}

@media only screen and (min-width: 768px) {
    nav {
        display: none;
    }    

    body {
        padding-top: 10px;
        overflow: hidden;
    }

    main {
        border: 1px solid #c1c1c1;
    }
}

@media only screen and (min-width: 992px) {
    main {
        width: 500px;
        margin: 0 auto;
    }
}